@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@400;800&family=PT+Sans:wght@400;700&family=Poppins&family=Redressed&family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500;800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    color: #000000;
    background-color:#ffffff;
}

.noSelect { 
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    -webkit-tap-highlight-color: transparent; 
}

/*----------------- LINKS ICONS AND BUTTONS --------------*/
li {
    list-style: none;
}
a, a:active, a:hover, a:focus {
    text-decoration: none;
    outline: 0; 
    border: none;
    padding: 0;
}

/*-----------------END OF LINKS ICONS AND BUTTONS --------------*/
.showcase {
    display: flex;
    justify-content: space-between;
    position: relative;
    min-height: 100vh;
    width: 100%;
}
.logo {
    position: absolute;
    top: 0px;
    left: 30px;
    z-index: 111;
    margin: 0;
}
.logo-main {
    display: flex;
    margin-top: -15px;
}
.logo h2 {
    font-family: 'PT Sans', sans-serif;
    color: #ffffff;
    position: relative;
    margin-top: 25px;
}
.logo-id {
    font-family: 'Redressed', cursive;  
    color: #003030;
    font-size: 3.7rem;
}
.logo-id-smail{
    font-size: 32px;
}
.slider-container {
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.56), 0 0px 5px rgba(0, 0, 0, 0.53);
    height: 100vh;
    width: 62vw;
    border-radius: 0;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    position: relative;
    overflow: hidden;
}
.slide{
    opacity: 0;
    height: 100%;
    width: 62vw;
    background-color: rgba(109, 109, 109, 0.6);
    background-blend-mode: multiply;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.1s ease;
}
.slide.active {
    opacity: 1;
}
.slides-content {
    font-family: 'PT Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    padding: 0 6rem;
    margin: auto;
    color: #ffffff;
}
.slides-content h2 {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 3.2rem;
    overflow: hidden;
}
.slides-content p {
    font-size: 14px;
    font-weight: 500;
}
.slides-content span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 260px;
    margin-top: 10px;
    align-self: flex-start;
}
.slides-content span a {
    color: #ffffff;
    align-items: center;
}
#sign-up {
    align-items: center;
    border: 2px solid #003030;
    background-color: #003030;
    padding: 5px 35px;
    border-radius: 5px;
    transition: 0.2s ease-in;
}
#sign-up:hover {
    background-color: transparent;
    transform: scale(0.95);
}
#chat-us {
    border: 2px solid #ffffff;
    padding: 5px 35px;
    background-color: transparent;
    border-radius: 5px;
    transition: 0.2s ease-in;
}
#chat-us:hover {
    background-color: #ffffff;
    color: #003030;
    transform: scale(0.95);
}
.progress-steps {
    display: flex;
    justify-content: space-between;
    width: 200px;
    position: absolute;
    bottom: 20%;
    left: 15%;
    transform: translateX(-15%);
}
.progress-steps::before {
    content: '';
    background-color: #77777762;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 3px;

    z-index: -1;
}
.progress {
    display: flex;
    justify-content: space-between;
    background-color: #003030;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 3px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}
.circle {
    background-color: #fff;
    color: rgb(255, 255, 255);
    height: 3px;
    width: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s ease;
}
.circle.active-step {
    border-color: #003030;
    background-color: #003030;
}
.arrow {
    z-index: 100;
}
#left {
    position: absolute;
    bottom: 12%;
    left: 10.5%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 30px;
    color: #f4f4f4;
    cursor: pointer;
}
#right {
    position: absolute;
    bottom: 12%;
    left: 20%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 30px;
    color: #f4f4f4;
    cursor: pointer;
}

.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 38vw;
    min-height: 100vh;
    height: 100%;
    overflow: hidden;
    padding: 0px 10px;
}
@media (max-width: 700px) {
    #idk {
        display: block;
    }
    .showcase {
        flex-direction: column;
        height: 100%;
    }
    .slider-container {
        width: 100%;
        min-height: 100%;
        height: 75vh;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
    }
    .container-2 {
        width: 100%;
        padding: 30px 10px;
        min-height: 80vh;
    }
    .slide {
        width: 100vw;
        /* min-height: 100%; */
    }
    .slides-content {
        padding: 0;
    }
    .slides-content h2 {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .progress-steps {
        bottom: 10%;
        left: 45%;
        transform: translateX(-45%);
    }
    #left{
        left: 43%;
        transform: translateX(-45%);
        bottom: 1%;
    }
    #right {
        left: 52%;
        transform: translateX(-45%);
        bottom: 1%;
    }
}
@media (max-height: 450px) {
    .slider-container {
        min-height: 150vh;
    }
}
@media (max-height: 250px) {
    .slider-container {
        min-height: 500px;
    }
}
.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 30px;
    padding: 0px 5px;
    margin-bottom: 5px;
    overflow: hidden;
}
.top-bar .logo{
    display: none;
    color: #a0a0a0;
}
.top-bar .logo .logo-main {
    top: -30px;
    color: #e73232;
}
.top-bar.current {
    display: none;
    box-shadow: 0 0px 5px rgba(153, 153, 153, 0.56), 0 0px 10px rgba(0, 0, 0, 0.53);
}
#idk {
    display: none;
}
.navbar {
    display: flex;
    justify-content: space-between;
    width: 180px;
}
.navbar li a{
    font-family: 'Roboto', sans-serif;
    color: #181818;
    font-weight: 500;
    font-size: 16px;
}
.user-img {
    align-self: center;
    align-items: center;
    padding-top: 3px;
}
.user-img img {
    object-position: center center;
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #003030;
    align-items: center;
    align-self: center;
}
#search {
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    padding: 0 5px;
    padding-bottom: 0;
    align-items: center;
    position: relative;
    margin-top: 5px;
}
#search input {
    width: 100%;
    margin: 5px 0;
    padding: 12px 10px;
    padding-left: 35px;
    border: none;
    outline: none;
    box-shadow: 0 0px 5px rgba(153, 153, 153, 0.56), 0 0px 5px rgba(197, 197, 197, 0.53);    border-radius: 5px;
    outline: none;
    transition: 0.4s ease;
}
#search input::placeholder {
    font-family: 'Roboto Condensed', sans-serif;
}
#search input:focus, #search input:hover {
    box-shadow: 0 0px 5px rgb(0, 26, 21), 0 0px 0px rgba(9, 38, 0, 0.53);    border-radius: 5px;
    transition: 0.4s ease-in;
}
#search .iconify {
    position: absolute;
    font-size: 26px;
    top: 10px;
    left: 15px;
    transform: translateX(30px);
}

@media (max-width: 1000px) {
    .top-bar {
        padding: 0px 10px;
        position: relative;
    }
    #search {
        padding: 0 20px;
    }
    .slides-content {
        padding: 0 3rem;
    }
}
@media (max-width: 1100px) {
    .hamburger {
        display: block;
    }
    .top-bar {
        padding: 0px 10px;
        position: relative;
    }
    #search {
        padding: 0 10px;
    }
    #search .iconify { 
        left: 15px;
    }
}
@media (max-width: 700px) {
    .top-bar {
        padding: 0px 10px;
        position: relative;
    }
    #idk {
        display: block;
    }
    .top-bar.current {
        display: block;
        display: flex;
        background-color: #ffffff;
        position: fixed;
        top: 0;
        z-index: 111;
        margin-bottom: 0;
        transition: 0.2s ease;
        height: 55px;
    }
    /* .line {
        display: flex;
        width: 35px;
        height: 2.5px;
        background: #003030;
        margin: 8px;
    }
    .line2 {
        width: 25px;
    } */
    .line1 .iconify{
        font-size: 35px;
        color: #003030;
        /* width: 32px;
        height: 3px;
        background: #f4f4f4;
        margin: 7px; */
    }
    .hamburger {
        display: block;
        cursor: pointer;
        z-index: -1;
        overflow: hidden;
        margin-top: 5px;
    }
    .navbar {
        height: 100%;
        width: 100vw;
        position: absolute;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        transition: ease-in 1000ms;

        z-index: -1;
    }
    .navbar.open {
        height: 50vh;
        width: 100vw;
        pointer-events: all;
        transition: all 0.4s ease;
        background-color: #888888;
        z-index: 111;
    }
    .navbar li {
        opacity: 0;
        overflow: hidden;
        align-self: center;
        transition: ease 0.4s;
    }
    .navbar li a{
        font-size: 16px;
        color: #fff;
        font-weight: normal;
        overflow: hidden;
    }
    .navbar li:nth-child(1){
        margin-top: 50px;
        transition: all 0.2s ease 0.2s;
    }
    .navbar li:nth-child(2){
        transition: all 0.2s ease 0.2s;
    }
    li.fade {
        opacity: 3;
    }
    .navbar li :nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .navbar li :nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .toggle .line1{
        transform: rotate(-45deg) translate(-5px,0px);
    
    }
    

}

.explore {
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    margin: 10px -10px;
    margin-top: 5px;
}
.explore h2 {
    margin-left: 5px;
    font-size: 20px;
}
.places {
    height: 360px;
    /* border: .8px solid #000000; */
    box-shadow: 0 0px 5px rgba(153, 153, 153, 0.56), 0 0px 5px rgba(197, 197, 197, 0.53);
    border-radius: 5px;
    margin: 5px;
    margin-top: 15px;
    padding: 5px 0 0 5px;
    padding-bottom: 0;
    position: relative;
    overflow: hidden;
}
.places-nav {
    display: flex;
    justify-content: space-around;
    height: 25px;
}
.places-nav li a{
    font-size: 14px;
    font-weight: 500;
    color: #000000;
}
.places-nav a.active-li {
    border-bottom: 2px solid #008c8c;
}
.dubai-x {
    display: flex;
    justify-content: space-between;
    min-width: 350px;
    width: 1300px;
    height: 280px;
    margin: 15px 10px;
    padding: 0 5px;
    margin-bottom: 0;
    transform: translateX(0);
    transition: 0.2s ease;
}
.dubai-1 {
    display: flex;
    position: relative;
    height: 270px;
    min-width: 250px;
}
.dubai-1 img{
    width: 250px;
    height: 270px;
    object-fit: cover;
    object-position: center center;
    overflow: hidden;
    border-radius: 5px;
}
.dubai-1 span {
    position: absolute;
    left: 5px;
    bottom: 10px;
    color: #ffffff;
}
.dubai-1 span h4 {
    font-size: 16px;
    font-weight: 500;
}
.dubai-1 span p { 
    font-size: 12px;
}

.nav-btn {
    display: flex;
    justify-content: space-between;
    width: 100px;
    position: absolute;
    bottom: -10px;
    left: 20px;
}
.nav-btn button {
    font-size: 40px;
    color: #a7a7a7;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 36px;
    color: #2e2e2e;
    cursor: pointer;
}
.nav-btn #right-btn {
    font-size: 40px;
    color: #003030;
}
@media (max-width: 600px) {
    .explore h2 {
        margin: 0;
    }
    .places {
        height: 410px;
        margin: 15px 0 0  0;
    }

    .dubai-x {
        min-width: 320px;
        width: 1600px;
        height: 320px;
        margin-top: 15px;
    }
    .dubai-1 {
        width: 310px;
        height: 320px;
    }
    .dubai-1 img {
        width: 310px;
        height: 320px;
    }
}
.offer {
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px 5px;
}
.offer h2 {
    font-size: 20px;
    align-self: flex-start;
}
.offers {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 5px 0 0px 5px;
    margin-top: 10px;
}
.offers #services {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0px 5px rgba(153, 153, 153, 0.56), 0 0px 5px rgba(197, 197, 197, 0.53);
    align-items: center;
    text-align: center;
    padding: 3px 25px;
    margin: 5px;
    border-radius: 5px;
}
#services .iconify {
    font-size: 20px;
}
#services p {
    font-size: 14px;
    font-weight: 500;
}
#services:hover {
    background-color: #003030;
    color: #fff;
    transition: .4s ease-in-out;
}
@media (max-width: 1000px) {
    .explore {
        padding: 10px 10px;
    }
    .offer {
        padding: 0 10px;
    }
}
@media (max-width: 400px) {
    .offers {
        flex-wrap: wrap;
    }
}

.about {
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 20px;
    margin-top: 50px;
    width: 100%;
    position: relative;
    background-image: url(./images/ab.jpg);
    background-color: rgba(1, 41, 29, 0.8);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;

    border-top-left-radius: 500px;
}
.about-img {
    position: absolute;
    top: 0;
    left: 15%;
    transform: translateX(-15%);
    z-index: 11;
}
.about-img img{
    width: 350px;
    height: 250px;
    object-fit: cover;
    object-position: center center;
    border-radius: 5px;
}
.about-ifitfly {
    width: 600px;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: left;
}
.about-ifitfly h2 {
    font-weight: bolder;
    font-size: 22px;
    margin-bottom: 5px;
}
.about-ifitfly p {
    font-size: 16px;
    font-weight: 400;
}
.about-div  h2 {
    font-weight: 800;
    font-size: 20px;
}
.why-ifitfly p, .ifitfly-policy  p {
    font-size: 16px;
    font-weight: 400;
    padding: 10px 10px;
    padding-right: 0;
    border-radius: 5px;
    z-index: 111;
}
.why-ifitfly p {
    text-align: right;
    padding-left: 0;
}
.ifitfly-policy  p {
    text-align: left;
}
.about-div {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
}
 .why-ifitfly, .ifitfly-policy {
    width: 450px;
    margin: 20px 0 0px 40px;
    box-shadow: 0 0px 5px rgba(153, 153, 153, 0.56), 0 0px 5px rgba(197, 197, 197, 0.53);
    position: relative;
    padding: 40px 10px;
    border-radius: 5px;
}
.why-ifitfly:hover, .ifitfly-policy:hover {
    box-shadow: 0 0px 10px rgba(153, 153, 153, 0.56), 0 0px 10px rgba(197, 197, 197, 0.53);
    transform: scale(0.98);
}
.why-ifitfly .iconify {
    position: absolute;
    /* bottom: 0px; */
    font-size: 70px;
    color: #f0f0f0;
}
@media (max-width: 708px) {
    .about {
        margin-top: 20px;
        padding-top: 200px;
        border-top-left-radius: 400px;
    }
    .about-ifitfly h2 {
        text-align: end;
    }
    .about-ifitfly p {
        padding-left: 10px;
        text-align: end;
    }
    .about-div {
        flex-direction: column;
    }
    .about-ifitfly {
        width: 100%;
        text-align: left;
    }
    .about-div {
        align-items: center;
        align-self: center;
        margin-top: 0;
    }
    .why-ifitfly, .ifitfly-policy {
        align-items: center;
        align-self: center;
        width: 100%;
        margin: 20px 0px 0px 10px;
    }
}

@media (max-width: 700px) { 
    .explore {
        margin-top: 20px;
    }
    .offer {
        margin-top: 20px;
    }

}
.traveling-package {
    padding: 30px 0;
    /* background-image: url(./images/1612266096432.webp); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.packages {
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}
.packages-cat {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: auto;
    width: 100%;
}
.package {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0px 5px rgba(153, 153, 153, 0.56), 0 0px 5px rgba(197, 197, 197, 0.53);
    border-radius: 5px;
    margin: 30px 0;
    margin: 20px 20px 30px 12px;
    position: relative;
    padding-bottom: 40px;
    width: 300px;
    height: 550px;
    color: #272727;
} 
.package img {
    width: 100%;
    height: 250px;
    object-position: center center;
    object-fit: cover;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}
.package-price {
    font-family: 'PT Sans', sans-serif;
    align-items: center;
    align-self: left;
    /* border-bottom: 2px solid #e6ffff ; */
}
.package-price h2 {  
    padding-left: 30px;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 900;
}
.package-price .iconify {
    font-size: 30px;
}
.package-price h3 {
    padding-left: 32px; 
    font-size: 20px;
    font-weight: 900;
}
.package hr {
    width: 240px;
    align-self: center;
    background: #00482c;
}
.package-features {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.package-features span {
    display: flex;
    align-items: center;
    margin: 10px 20px 10px 0px;
    color: #575757;
}
.package-features span p {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #575757;
}

.package a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 2%;
    transform: translateX(3%);
    width: 90%;
    border: 2px solid #003030;
    padding: 5px 10px;
    /* margin: 0 30px; */
    border-radius: 5px;
    color: #000;
}
.package a .iconify {
    font-size: 30px;
}
@media (max-width: 960px) {
    .packages-cat {
        flex-wrap: wrap;
    }
}
@media (max-width: 760px) {
    .packages-cat {
        flex-direction: column;
        padding: 0 20px;
    }
    .package {
        min-width: 100%;
    }
}



footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./images/footer.png);
    background-color: rgba(0, 0, 0, 0.95);
    background-blend-mode: multiply;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 40px 0;
    color: #fff;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
}
.fast-links {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: auto;
    min-width: 750px;
    min-height: 100%;
    padding: 10px 35px;
}
.links-div {
    min-width: 100px;
}
.links-div h2{
    margin-bottom: 20px;
    font-size: 16px;

}
.links-div ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
}
.links-div li {
    align-items: center;
    height: 100%;
}
.links-div ul a {
    font-size: 12px;
    color: #fff;
    padding-bottom: 3px;
    width: 1000px;
    transition-property: width, height;
    transition: 1s ease;
}
.links-div ul a:hover {
    border-bottom: 3px solid #003030;
    width: 40px;
    transition-property: width;
    transition: .2s;
}
.footer-logo .logo {
    display: block;
}
.footer-sm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 230px;
    margin: 40px 0;
    margin-top: 20px;
    align-items: center;
}
.footer-sm .iconify {
    transition: .2s ease-in;
    font-size: 40px;
    background-color: #fff;
    width: 50px;
    padding: 7px 5px;
    border-radius: 5px;
    border: 2px solid #fff;
    color: #003030;
    box-shadow: 0 0px 2px rgba(153, 153, 153, 0.56), 0 0px 3px rgba(197, 197, 197, 0.53);
}
.footer-sm .iconify:hover {
    background-color: transparent;
    color: #fff;
    transform: scale(0.95);
}
.all-rights {
    margin: auto;
    font-size: 12px;
}
@media (max-width: 950px) {
    .fast-links {
        min-width: 600px;
    }
}
@media (max-width: 750px) {
    .fast-links {
        min-width: 100%;
        padding: 10px 10px;
    }
}
@media (max-width: 350px) {
    .fast-links {
        justify-content: center;
        justify-self: center;
        margin: auto;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 10px 20px;
    }
}

.connect {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 400px;
    width: 100%;
    background: url(./images/connect.gif);
    background-position: center center;
    background-size: cover;
    transition: 0.2s ease;
    position: relative;
}
.connect div {
    display: flex;
    justify-content: center;
    align-self: center;
    align-content: center;
    margin: auto;
    height: 100%;
}
.connect h1 {
    justify-content: center;
    text-align: center;
    align-self: center;
    align-items: center;
    margin: auto;
    height: 400px;
    width: 100%;
    font-weight: bolder;
    font-size: 3rem;
    transition: 1s ease-in linear;
}